@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  #__next {
    width: 100%;
  }
}
